<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.ryer.droid.PM5"
    android:versionCode="2"
    android:versionName="1.0.3">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PmApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        >
        <activity
            android:name=".PmSplashActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ru.ryer.droid.PM5.PmPrimaryActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>

        <service android:name=".PmRESTfulService"
                 android:exported="false"/>



        <provider
                android:authorities="ru.ryer.droid.PM5.PmCp"
                android:name=".PmContentProvider"
                android:exported="false"
                />



    </application>

</manifest>
